@model CaseRod.ViewModels.DevViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var Blade = Model.Blades;
    var Handle = Model.Handles;
    var ReelSeat = Model.ReelSeats;
    var Text = Model.Texts;
}
<h2>Development</h2>
<legend>Blades</legend>
<p>
    @Html.ActionLink("Add Blade", "CreateBlade", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-hover table-bordered table-striped" style="text-align:center">
    <thead>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Blades.First().Name)</td>
            <td>@Html.DisplayNameFor(model => model.Blades.First().Price)</td>
            <td>@Html.DisplayNameFor(model => model.Blades.First().Weight)</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var blade in Model.Blades)
        {
            
            <tr>
                <td style="width:25%">@blade.Name</td>
                <td>@blade.Price</td>
                <td>@blade.Weight</td>
                <td style="width:25%">
                    @Html.ActionLink("Edit", "Edit", new { id = blade.BladeID }) |
                    @Html.ActionLink("Details", "DetailsBlade", new { id = blade.BladeID }) |
                    <button type="button" class="btn-link" id="@("#deleteBladeButton" + blade.BladeID)" data-toggle="modal" data-target="@("#deleteBladeModal" + blade.BladeID)">Delete</button>

                    <div class="modal fade" id="@("deleteBladeModal" + blade.BladeID)" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Delete product</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to delete product?</p>
                                </div>
                                <div class="modal-footer">

                                    @using (Html.BeginForm(new { id = blade.BladeID, producttype = 1 }))
                                    {
                                        @Html.AntiForgeryToken()

                                        <div class="form-actions no-color">
                                            <input type="submit" value="Delete" class="btn btn-danger" />
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>



                </td>
            </tr>
        }
    </tbody>
</table>



<legend>Handles</legend>
<p>
    @Html.ActionLink("Add Handle", "CreateHandle", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-hover table-bordered table-striped" style="text-align:center">
    <thead>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Handles.First().Name)</td>
            <td>@Html.DisplayNameFor(model => model.Handles.First().Price)</td>
            <td>@Html.DisplayNameFor(model => model.Handles.First().Weight)</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var handle in Model.Handles)
        {
            <tr>
                <td style="width:25%">@handle.Name</td>
                <td>@handle.Price</td>
                <td>@handle.Weight</td>
                <td style="width:25%">
                    @Html.ActionLink("Edit", "Edit", new { id = handle.HandleID }) |
                    @Html.ActionLink("Details", "DetailsHandle", new { id = handle.HandleID }) |
                    <button type="button" class="btn-link" id="@("#deleteHandleButton" + handle.HandleID)" data-toggle="modal" data-target="@("#deleteHandleModal" + handle.HandleID)">Delete</button>

                    <div class="modal fade" id="@("deleteHandleModal" + handle.HandleID)" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Delete product</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to delete product?</p>
                                </div>
                                <div class="modal-footer">

                                    @using (Html.BeginForm(new { id = handle.HandleID, producttype = 2 }))
                                    {
                                        @Html.AntiForgeryToken()

                                        <div class="form-actions no-color">
                                            <input type="submit" value="Delete" class="btn btn-danger" />
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<legend>Reel Seats</legend>
<p>
    @Html.ActionLink("Add Reel Seat", "CreateReelSeat", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-hover table-bordered table-striped" style="text-align:center">
    <thead>
        <tr>
            <td>@Html.DisplayNameFor(model => model.ReelSeats.First().Name)</td>
            <td>@Html.DisplayNameFor(model => model.ReelSeats.First().Price)</td>
            <td>@Html.DisplayNameFor(model => model.ReelSeats.First().Weight)</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var reelseat in Model.ReelSeats)
        {
            <tr>
                <td style="width:25%">@reelseat.Name</td>
                <td>@reelseat.Price</td>
                <td>@reelseat.Weight</td>
                <td style="width:25%">
                    @Html.ActionLink("Edit", "Edit", new { id = reelseat.ReelSeatID }) |
                    @Html.ActionLink("Details", "DetailsReelSeat", new { id = reelseat.ReelSeatID }) |
                    <button type="button" class="btn-link" id="@("#deleteReelSeatButton" + reelseat.ReelSeatID)" data-toggle="modal" data-target="@("#deleteReelSeatModal" + reelseat.ReelSeatID)">Delete</button>

                    <div class="modal fade" id="@("deleteReelSeatModal" + reelseat.ReelSeatID)" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Delete product</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to delete product?</p>
                                </div>
                                <div class="modal-footer">

                                    @using (Html.BeginForm(new { id = reelseat.ReelSeatID, producttype = 3 }))
                                    {
                                        @Html.AntiForgeryToken()

                                        <div class="form-actions no-color">
                                            <input type="submit" value="Delete" class="btn btn-danger" />
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

    <legend>Edit Texts</legend>
    <table class="table table-hover table-bordered table-striped" style="text-align:center">
        <thead>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Texts.First().Name)</td>
                <td>@Html.DisplayNameFor(model => model.Texts.First().Content)</td>
                <td>Actions</td>
            </tr>
        </thead>

        <tbody>
            @foreach (var textitem in Model.Texts)
            {
                <tr>
                    <td style="width:25%">@textitem.Name</td>
                    <td>@textitem.Content</td>
                    <td style="width:25%">
                        @Html.ActionLink("Edit", "Edit", new { id = textitem.TextID }) |
                        @Html.ActionLink("Details", "DetailsText", new { id = textitem.TextID })

                    </td>
                </tr>
            }
        </tbody>
    </table>

