@model CaseRod.ViewModels.DevViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var Blade = Model.Blades;
    var Handle = Model.Handles;
    var ReelSeat = Model.ReelSeats;
}
<h2>Development</h2>
<legend>Blades</legend>
<p>
    @Html.ActionLink("Add Blade", "CreateBlade", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-hover table-bordered table-striped" style="text-align:center">
    <thead>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Blades.First().Name)</td>
            <td>@Html.DisplayNameFor(model => model.Blades.First().Price)</td>
            <td>@Html.DisplayNameFor(model => model.Blades.First().Weight)</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var blade in Model.Blades)
        {
            
            <tr>
                <td style="width:25%">@blade.Name</td>
                <td>@blade.Price</td>
                <td>@blade.Weight</td>
                <td style="width:25%">
                    @Html.ActionLink("Edit", "Edit", new { id = blade.ID }) |
                    @Html.ActionLink("Details", "DetailsBlade", new { id = blade.ID }) |
                    <button type="button" class="btn-link" id="@("#deleteBladeButton" + blade.ID)" data-toggle="modal" data-target="@("#deleteBladeModal" + blade.ID)">Delete</button>

                    <div class="modal fade" id="@("deleteBladeModal" + blade.ID)" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Delete product</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to delete product?</p>
                                </div>
                                <div class="modal-footer">

                                    @using (Html.BeginForm(new { id = blade.ID, producttype = 1 }))
                                    {
                                        @Html.AntiForgeryToken()

                                        <div class="form-actions no-color">
                                            <input type="submit" value="Delete" class="btn btn-danger" />
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>



                </td>
            </tr>
        }
    </tbody>
</table>



<legend>Handles</legend>
<p>
    @Html.ActionLink("Add Handle", "CreateHandle", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-hover table-bordered table-striped" style="text-align:center">
    <thead>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Handles.First().Name)</td>
            <td>@Html.DisplayNameFor(model => model.Handles.First().Price)</td>
            <td>@Html.DisplayNameFor(model => model.Handles.First().Weight)</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var handle in Model.Handles)
        {
            <tr>
                <td style="width:25%">@handle.Name</td>
                <td>@handle.Price</td>
                <td>@handle.Weight</td>
                <td style="width:25%">
                    @Html.ActionLink("Edit", "Edit", new { id = handle.ID }) |
                    @Html.ActionLink("Details", "DetailsHandle", new { id = handle.ID }) |
                    <button type="button" class="btn-link" id="@("#deleteHandleButton" + handle.ID)" data-toggle="modal" data-target="@("#deleteHandleModal" + handle.ID)">Delete</button>

                    <div class="modal fade" id="@("deleteHandleModal" + handle.ID)" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Delete product</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to delete product?</p>
                                </div>
                                <div class="modal-footer">

                                    @using (Html.BeginForm(new { id = handle.ID, producttype = 2 }))
                                    {
                                        @Html.AntiForgeryToken()

                                        <div class="form-actions no-color">
                                            <input type="submit" value="Delete" class="btn btn-danger" />
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<legend>Reel Seats</legend>
<p>
    @Html.ActionLink("Add Reel Seat", "CreateReelSeat", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-hover table-bordered table-striped" style="text-align:center">
    <thead>
        <tr>
            <td>@Html.DisplayNameFor(model => model.ReelSeats.First().Name)</td>
            <td>@Html.DisplayNameFor(model => model.ReelSeats.First().Price)</td>
            <td>@Html.DisplayNameFor(model => model.ReelSeats.First().Weight)</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var reelseat in Model.ReelSeats)
        {
            <tr>
                <td style="width:25%">@reelseat.Name</td>
                <td>@reelseat.Price</td>
                <td>@reelseat.Weight</td>
                <td style="width:25%">
                    @Html.ActionLink("Edit", "Edit", new { id = reelseat.ID }) |
                    @Html.ActionLink("Details", "DetailsReelSeat", new { id = reelseat.ID }) |
                    <button type="button" class="btn-link" id="@("#deleteReelSeatButton" + reelseat.ID)" data-toggle="modal" data-target="@("#deleteReelSeatModal" + reelseat.ID)">Delete</button>

                    <div class="modal fade" id="@("deleteReelSeatModal" + reelseat.ID)" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Delete product</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to delete product?</p>
                                </div>
                                <div class="modal-footer">

                                    @using (Html.BeginForm(new { id = reelseat.ID, producttype = 3 }))
                                    {
                                        @Html.AntiForgeryToken()

                                        <div class="form-actions no-color">
                                            <input type="submit" value="Delete" class="btn btn-danger" />
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<legend>Edit texts</legend>

<table class="table table-hover table-bordered table-striped" style="text-align:center">
    <thead>
        <tr>
            <td> Name </td>
            <td> Content </td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var textitem in Model.Texts)
        {
            <tr>
                <td style="width:25%">@textitem.Name</td>
                <td>@textitem.Content.Substring(0, Math.Min(textitem.Content.Length, 35))...</td>
                <td style="width:25%">
                    @Html.ActionLink("Edit", "EditText", new { name = textitem.Name })
                      

                                    @using (Html.BeginForm(new { name = textitem.Name}))
                                    {
                                        @Html.AntiForgeryToken()


                                    } 
                </td>
            </tr>
        }
    </tbody>
</table>