@using CaseRod.Models;
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    
    <title> CaseRod</title>
    @Styles.Render("~/Content/AccordionDesign.css")
    
</head>
<body>
    <section>
        @Html.Partial("_Blades")
        @Html.Partial("_Reelseats")
        @Html.Partial("_Handles")

    </section>

    @Html.Partial("_Summary")
</body>
