@using CaseRod.Models;
@{
    ViewBag.Title = "Home Page";
}
<head>
    
    <title> CaseRod</title>
    @Styles.Render("~/Content/AccordionDesign.css")
    
</head>

<body>
    <div class="jumbotron" align="center">
        <h1>Build</h1>
        <p class="lead">Here we build rods</p>
    </div>

    <h2 align="center">Accordion</h2>

    <div align="right">
        @Html.Partial("_Blade")
        @Html.Partial("_Handles")
        @Html.Partial("_ReelSeats")
    </div>

    @Html.Partial("_Summary")

    @Scripts.Render("~/Scripts/AccordionDesign.js")
</body>
