@model CaseRod.ViewModels.BuildViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Start of collapse*@
    <div class="panel-group" id="accordion">        

        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                <h4 class="panel-title">
                    Blades
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                    @foreach (var blade in Model.Blades)
                    {
                        <div class="list-group col-lg-2 col-md-2 col-sm-3" id="@("BladeItem" + blade.BladeID)">
                            <img src="~/Content/Images/Blades/@blade.Image" style="width:120px;height:120px;" /><br />
                            @blade.Name<br />
                            @blade.Weight gr
                            <p style="color:red; font-weight:bold;">@blade.Price SEK</p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>   







<div class="panel-group" id="accordion">

    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
            <h4 class="panel-title">
                Handles
            </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">
                @foreach (var handle in Model.Handles)
                {
                    <div class="list-group col-lg-2 col-md-2 col-sm-3" id="@("HandleItem" + handle.HandleID)">
                        <img src="~/Content/Images/Handles/@handle.Image" style="width:120px;height:120px;" /><br />
                        @handle.Name<br />
                        @handle.Weight gr
                        <p style="color:red; font-weight:bold;">@handle.Price SEK</p>
                    </div>
                }
            </div>
        </div>
    </div>
</div> 







<div class="panel-group" id="accordion">

    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
            <h4 class="panel-title">

                Reel Seats

            </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">
                @foreach (var reelseat in Model.ReelSeats)
                {
                    <div class="card list-group col-lg-2 col-md-3 col-sm-4 col-xs-6">
                        
                        <img src="~/Content/Images/ReelSeats/@reelseat.Image" style="width:100%;" alt="Card image">
                            <div class="card-body" style="border-top:2px; border-top-color:black">
                                <p class="card-text" style="text-align:center"><strong>@reelseat.Name</strong></p>
                                <p class="card-text">@reelseat.Weight gram</p>


                                <div class="card-footer">
                                    <div class="row">
                                        @reelseat.Price SEK
                                        @Html.ActionLink("Choose", "ChooseReelSeat", "Product", new { id = reelseat.ReelSeatID }, new { @class = "btn btn-outline-danger pull-right" })
                                    </div>
                                </div>
                            </div>
                    </div>
                }
            </div>
        </div>
    </div>

</div>              
@*End of collapse*@

@*Summary start*@

@{
    string BladeImage = Model.Product.ChosenBlade != null ? Model.Product.ChosenBlade.Image
        : "Klinga1.png";
}
    
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            Summary
        </h4>
    </div>
    <div class="panel-body">
        <div>
            <div class="card list-group col-lg-2 col-md-2 col-sm-3">
                <h3 class="card-header" style="margin-top:0px">Card header</h3>
                <img style="width: 100%; display: block;" src="~/Content/Images/Blades/@BladeImage" alt="Card image">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>

            <div class="card list-group col-lg-2 col-md-2 col-sm-3">
                <h3 class="card-header" style="margin-top:0px">Card header</h3>
                <img style="width: 100%; display: block;" src="~/Content/Images/Blades/@BladeImage" alt="Card image">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>

            <div class="card list-group col-lg-2 col-md-2 col-sm-3">
                <h3 class="card-header" style="margin-top:0px">Card header</h3>
                <img style="width: 100%; display: block;" src="~/Content/Images/Blades/@BladeImage" alt="Card image">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
    </div>
</div>


@*Summary ends*@

<script>
    //$("").click(function () {
    //    $('#foo').css({
    //        'background-color': 'red',
    //        'color': 'white',
    //        'font-size': '44px'
    //    });
    //});
</script>
