@model CaseRod.ViewModels.BuildViewModel
@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .body{
        background-color:#f2f2f2;
    }

    .product-grid{
        padding-left:10px;
        padding-right:10px;
        margin-bottom:20px;
    }
</style>

@Html.Partial("_DemoView")

<body style="background-color:#f2f2f2">
    <div class="row">
        <div style="padding: 0px 10px 0px 10px;margin-bottom:20px">
            <div style="height:400px; background-color:white"></div>
        </div>

        <div style="padding: 0px 10px 0px 10px;margin-bottom:20px">
            <div>
                <a class="btn btn-primary" href="#Blades" data-toggle="tab">Blades</a>
                <a class="btn btn-default" href="#Handles" data-toggle="tab">Handles</a>
                <a class="btn btn-default" href="#ReelSeats" data-toggle="tab">ReelSeats</a>
                <button class="btn btn-default navbar-right"><span class="glyphicon glyphicon-info-sign"></span> Info</button>
            </div>
        </div>

        <div id="myTabContent" class="tab-content">

            <div class="tab-pane fade active in" id="Blades">
                <div>
                        @foreach (var item in Model.Blades)
                        {
                            <div style="padding: 0px 10px 0px 10px; max-width:234px; min-width:234px; height:400px; margin-bottom:20px" class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
                                <div style="background-color:white; width:100%; height:100%">
                                    <a>
                                        <img src="~/Content/Images/Blades/@item.Image" style="width:100%;height:230px; border:10px solid; border-color:white">
                                    </a>

                                    <div class="bottom">
                                        <div class="heading">@item.Name</div>
                                        <div class="info">Classic red converse edition</div>
                                        <div class="style">Color: Red / Style: M9621C</div>

                                        <div class="price">@item.Price :- <span class="old-price hidden">$75.00</span></div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
            </div>

            <div class="tab-pane fade" id="Handles">
                <div>
                    @foreach (var item in Model.Handles)
                    {
                        <div style="padding: 0px 10px 0px 10px; max-width:234px; min-width:234px; height:400px; margin-bottom:20px" class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
                            <div style="background-color:white; width:100%; height:100%">
                                <a>
                                    <img src="~/Content/Images/Handles/@item.Image" style="width:100%;height:230px; border:10px solid; border-color:white">
                                </a>

                                <div class="bottom">
                                    <div class="heading">@item.Name</div>
                                    <div class="info">Classic red converse edition</div>
                                    <div class="style">Color: Red / Style: M9621C</div>

                                    <div class="price">@item.Price :- <span class="old-price hidden">$75.00</span></div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="tab-pane fade" id="ReelSeats">
                <div>
                    @foreach (var item in Model.ReelSeats)
                    {
                        <div style="padding: 0px 10px 0px 10px; max-width:234px; min-width:234px; height:400px; margin-bottom:20px" class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
                            <div style="background-color:white; width:100%; height:100%">
                                <a>
                                    <img src="~/Content/Images/ReelSeats/@item.Image" style="width:100%;height:230px; border:10px solid; border-color:white">
                                </a>

                                <div class="bottom">
                                    <div class="heading">@item.Name</div>
                                    <div class="info">Classic red converse edition</div>
                                    <div class="style">Color: Red / Style: M9621C</div>

                                    <div class="price">@item.Price :- <span class="old-price hidden">$75.00</span></div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>
</body>

